<header th:replace="header"></header>
<div class="container">
    <div class="accident">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Новый инцидент
            </div>
            <div class="card-body">
                <form th:action="@{/accident/saveAccident}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="0"/>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="text">Текст</label>
                        <input type="text" class="form-control" name="text" id="text">
                    </div>
                    <div class="form-group">
                        <label for="address">Адрес</label>
                        <input type="text" class="form-control" name="address" id="address">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer"></footer>
