<header th:replace="header"></header>
<div class="container">
    <div class="accident">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Редатирование инцидента
            </div>
            <div class="card-body">
                <form th:action="@{/accident/updateAccident}" method="POST" enctype="multipart/form-data"
                      th:object="${accident}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="text">Текст</label>
                        <input type="text" class="form-control" name="text" id="text" th:field="*{text}">
                    </div>
                    <div class="form-group">
                        <label for="address">Адрес</label>
                        <input type="text" class="form-control" name="address" id="address" th:field="*{address}">
                    </div>
                    <div class="form-group">
                        <label for="type.id">Тип</label>
                        <select class="form-control" id="type.id" name="type.id" th:object="${accidentType}">
                            <option th:each="type: ${types}"
                                    th:text="${type.name}"
                                    th:value="${type.id}"
                                    th:if="${type.id == accident.type.id}" selected>
                            <option th:each="type: ${types}"
                                    th:text="${type.name}"
                                    th:value="${type.id}"
                                    th:unless="${type.id == accident.type.id}">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer"></footer>
