.nav_user-name {
    margin-left: 10px;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

table th {
    background: gray;
    color: #fff;
    padding: 5px 0;
}

table tr:nth-child(odd) {
    background: lightgray;
}
