<header th:replace="header"></header>
<div class="container">
    <table>
        <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Адрес</th>
        </tr>
        <tr th:each="accident : ${accidents}">
            <td th:text="${accident.id + '.'}"></td>
            <td th:text="${accident.name}"></td>
            <td th:text="${accident.text}"></td>
            <td th:text="${accident.address}"></td>
        </tr>
    </table>
    <div class="add_accident">
        <a class="" th:href="@{/addAccident}">Добавить Инцидент</a>
    </div>
</div>
<footer th:replace="footer"></footer>
