<header th:replace="header"></header>
<div class="container">
    <table>
        <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Адрес</th>
            <th>Тип</th>
            <th>Статья</th>
            <th></th>
        </tr>
        <tr th:each="accident : ${accidents}">
            <td th:text="${accident.id + '.'}"></td>
            <td th:text="${accident.name}"></td>
            <td th:text="${accident.text}"></td>
            <td th:text="${accident.address}"></td>
            <td th:text="${accident.type.name}"></td>
            <td><p th:each="rule: ${accident.rules}" th:text="${rule.name}"></p></td>
            <td>
                <a th:href="@{|/accident/formEditAccident?id=${accident.id}|}">
                    Редактировать
                </a>
            </td>
        </tr>
    </table>
    <div class="add_accident">
        <a class="" th:href="@{accident/addAccident}">Добавить Инцидент</a>
    </div>
</div>
<footer th:replace="footer"></footer>
